{% extends "content/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
  <div class="pg-text-centered my-4">
    <h1 class="pg-title">{{ page.title }}</h1>
    <div class="pg-subtitle">{{ page.intro|richtext }}</div>
  </div>
  {% for post in page.get_ordered_blog_posts %}{% with post.specific as post %}
    <div class="app-card">
      <div class="pg-columns">
        <div class="pg-column">
          <h2 class="pg-title"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
          <div class="pg-subtitle">{{ post.intro }}</div>
        </div>
        {% with post.main_image as main_image %}{% if main_image %}
          <div class="pg-column-one-quarter">
            {% image main_image fill-300x200 %}
          </div>
        {% endif %}{% endwith %}
      </div>
    </div>
  {% endwith %}{% endfor %}
{% endblock %}
