{% extends "content/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% block meta %}
  {% with page.title as page_title %}
  {% with page.intro as page_description %}
    {{ block.super }}
  {% endwith %}
  {% endwith %}
{% endblock %}
{% block content %}
  <nav aria-label="breadcrumbs">
    <ol class="pg-breadcrumbs">
      <li class=""><a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></li>
      <li class="pg-breadcrumb-active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
  <div class="my-4">
    <h1 class="pg-title">{{ page.title }}</h1>
    <h2 class="pg-subtitle">{{ page.intro }}</h2>
    <p><small>{{ page.date }}</small></p>
    <div class="my-2 pg-content">
      {{ page.body|richtext }}
    </div>
    {% for item in page.gallery_images.all %}
      {% if forloop.first %}
        <hr>
        <h2 class="pg-subtitle mt-5">{% translate 'Image Gallery' %}</h2>
        <div class="pg-columns">
      {% endif %}
      <div class="pg-column">
        {% image item.image fill-320x240 %}
        <p>{{ item.caption }}</p>
      </div>
      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
