{% load chat_tags %}
{% load i18n %}
<div class="pg-chat-message-system"
   {% if not progress.complete %}
   hx-get="{% url 'chat:get_message_response' chat.id task_id %}"
   hx-trigger="load delay:1s"
   hx-swap="outerHTML"
   {% endif %}
>
  {% include "chat/components/system_icon.html" %}
  <div class="pg-message-contents">
    {% if progress.complete and progress.success %}
      {{ progress.result.content|render_markdown }}
    {% elif progress.complete %}
      <p class="pg-text-danger">
      {% blocktranslate %}
        Sorry something went wrong. This may be an OpenAI error, or your API key may not be set properly.
        If you are a site administrator seeing this for the first time, double check your <code>OPENAI_API_KEY</code>
        setting / environment variable and restart all running processes.
      {% endblocktranslate %}
      </p>
    {% else %}
      <p class="loading-dots">{% translate "Thinking" %}</p>
    {% endif %}
  </div>
</div>
