{% extends 'web/app/app_base.html' %}
{% block app %}
{% load static %}
<div class="app-card">
  <h1 class="pg-title">Medical Assistant Chatbox</h1>
  <h2 class="pg-subtitle">Quickly integrate ChatGPT or Dall-E's image generation in your Django application.</h2>
</div>
<div class="pg-columns">
  <div class="pg-column">
    <div class="pg-card h-100">
      <div class="pg-card-image">
        <figure class="image pg-ratio-3x2">
          <img class="img-fluid" src="{% static 'images/openai_example/chatgpt-logo.png' %}" alt="ChatGPT Logo">
        </figure>
      </div>
      <div class="pg-card-body">
        <div class="pg-content">
          <h3>ChatGPT</h3>
          <p>
            Use <a href="https://openai.com/blog/chatgpt" target="_blank">ChatGPT</a> to automatically respond to user input or questions.
          </p>
        </div>
        <div class="buttons">
          <a href="{% url 'chat:chat_home' %}" class="pg-button-secondary">
            <span>ChatGPT Demo</span>
            <span class="pg-icon">
              <i class="fa fa-angle-double-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
